body {
    background-color: #242240;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

svg {
    border: 1px solid #F1F2F2;
}